<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <title>Payment Checkout</title>
</head>

<body>
  <div id="whole">
    <nav>
        <h1>Enter Payment Information</h1>
    </nav>
  
    <div class='container'>
      <div class="left">
        Name:<br><br>
        Email:<br><br>
        Card Number:<br><br>
        Amount:<br><br>
  
      </div>
      <div class="right">
        <form>
          <input type="text" id="name" name="fname"><br><br>
          <input type="email" id="email" name="email"><br><br>
          <input type="text" id="cardnumber" name="cardnumber"><br><br>
          <input type="text" id="amount" name="amount"><br><br>
          <button class="box">Make Payment</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>